@model EmployeeManagementSystem.Common.Command.CreateDepartmentCommand

@{
    ViewData["Title"] = "View";
}

<div class="page-title">Yeni Departman Ekle</div>
<hr />
<div class="row">
    <div class="col-lg-12 col-md-6">
        <div class="card">
            <div class="card-body">
        <form asp-action="CreateDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
                    <div class="form-group mt-2 d-flex justify-content-between ">
                        <input type="submit" value="Departman Ekle" class="btn btn-primary" />
                        <div>
                            <button class="btn btn-primary" onclick="location.href='@Url.Action("GetDepartments", "Department")'">Geri Dön</button>
                        </div>
                    </div>
        </form>
    </div>
    </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
