<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagementSystem.Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="~/css/sidebars.css" rel="stylesheet">
    <link href="~/css/modals.css" rel="stylesheet">
    
    <link rel="stylesheet" href="~/EmployeeManagementSystem.Client.styles.css" asp-append-version="true" />
  
</head>
<body >
   @*  <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EmployeeManagementSystem.Client</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="GetDepartments">Get Departments</a>
                        </li>
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@

    <div class="wrapper" >

        <div class=" left-side-menu">
            <div class="h-100 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
                    <span class="fs-4">Sidebar</span>
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" asp-area="" asp-controller="Department" asp-action="GetDepartments">
                            <svg class="bi me-2" width="16" height="16"></svg>
                            Departmanlar
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="GetUsers">
                            <svg class="bi me-2" width="16" height="16"></svg>
                            Kullanıcılar
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-white" asp-area="" asp-controller="UserDepartment" asp-action="NewUserDepartment">
                            <svg class="bi me-2" width="16" height="16"></svg>
                            Departmana Kullanıcı Ekle
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">

                    <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Logout">
                        <svg class="bi me-2" width="16" height="16"></svg>
                        Çıkış Yap
                    </a>
                  @*
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>ho</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Profil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"></a></li>
                    </ul> *@
                </div>
            </div>

        </div>

        <div class="content-page">

            <div class="content p-3">
                <div class="container-fluid">
                        @RenderBody()
    
                    @if (TempData["ToastMessage"] != null)
                    {
                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                var toastEl = document.getElementById('myToast');
                                var toast = new bootstrap.Toast(toastEl);
                                toast.show();
                            });
                        </script>

                        <div id="myToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
                            <div class="toast-header">
                                <strong class="me-auto">İşlem Durumu</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                @TempData["ToastMessage"]
                            </div>
                        </div>

                        <style>
                            #myToast {
                                position: fixed;
                                bottom: 20px;
                                right: 20px;
                                z-index: 9999;
                                color: white;
                                background-color: @(TempData["IsError"] != null && (bool)TempData["IsError"] ? "#dc3545" : "#89bf04");
                            }
                        </style>
                    }



                </div>
            </div> 

            <footer> 


            </footer>
           
</div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
